.add-cell {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.1s;
  margin: 10px 0;
}

.add-cell:hover {
  opacity: 1;
}

.add-cell .divider {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 2%;
  left: 2%;
  width: 96%;
  border-bottom: 2px solid #fafac2;
  z-index: -1;
  opacity: 0.7;
}

.add-cell .add-buttons {
  display: flex;
  justify-content: center;
}

.add-cell .add-buttons button {
  margin: 0 40px;
  padding: 16px;
}

.cell-btn-type {
  font-size: 18px;
  font-weight: 1600px;
  font-variant: small-caps;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fee3ff;
  letter-spacing: 2px;
}

.cell-btn-icon {
  color: #cda525;
}

/* 
** Force visibility of component when there are
** no code or text cells displayed
*/
.add-cell.force-visible {
  opacity: 1;
}
